[user]
	name = shibu_t
	email = cockpits526@gmail.com
[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	st = status
	pl = pull
    df = diff
    dfc = diff --cached
    ci = commit
    au = add -u
[push]
    default = tracking
[core]
    editor = vim
    pager  = "lv -c"
    quotepath = false
[github]
    user = shibu-t
